<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galería Épica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galería Épica</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="intro">
    <h2>¡Bienvenido a tu galería de recompensas!</h2>
    <p>Captura momentos increíbles, guarda tus fotos favoritas y gana recompensas a medida que llenas tu colección.</p>
  </div>
  <div class="camera-section">
    <img src="assets/icon-only2.png" alt="Tomar foto" class="camera-image" />
    <p class="instruction-text">Presiona el botón de la cámara para capturar tu mejor momento.</p>
  </div>
</ion-content>

